
.songItemPlay{
  cursor: pointer;
}
.container {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .container {
  padding-top: 60px;
}

.tt{
    padding-left: 300px;
    height: 30px;
    color: rgba(255, 255, 255, 0.751);
    font-size: 20px;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-items: center;
}
.sidenav {
  height: 100%;
  width: 230px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  /* background: rgb(77,77,77);
background: linear-gradient(180deg, rgba(77,77,77,1) 0%, rgba(57,56,57,1) 0%, rgba(0,8,10,1) 55%, rgba(0,10,11,1) 100%); */
background-image: url('lpbg2.jpg');
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #fdfafa;
  display: block;
}

.sidenav a:hover {
  color: #2e2b2b;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.volume-slider {
    margin-top: 10px;
    display: flex;
    width: 200px;
    justify-content: center; /* Center the slider horizontally */
    /* position: absolute;  */
    flex-direction: row;
    align-items: center;
  }
  .bottom .volume-slider {
    margin-top: 0px; 
    margin-bottom: 10px;
     
  }

  .bottom .volume-slider input[type="range"] {
    /* -webkit-appearance: none; */
    width: 100%;
    height: 10px;
    background: #d3d3d3;
    outline: none;
    border-radius: 5px;
    margin-top: 5px;
    /* margin-left: 4px; */
    margin-right: 10px;
    accent-color: rgb(232, 226, 239);
    
  }

  .bottom .volume-slider input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background: rgb(140, 160, 227);
    border-radius: 100%;
    
    cursor: pointer;
    
  }


.songb{
    height: 150px;
    }
.icons i{
    cursor: pointer;
    color: white;
    padding: 5px;
}
    .bottom{
    position: sticky;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
    height: 100px;
    background-image: url('lpbg2.jpg');
    color: rgba(255, 255, 255, 0.747);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

}
.vp{

    display:inline-flex;
    justify-content:space-evenly;
    align-items: center;
    flex-direction: row;

}

#MyPB{
    align-self: center;
    width: 580px;
    accent-color: rgb(246, 246, 247);
    margin-left: 350px;
    

    
}
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('lpbg2.jpg');
  }
  
  .container {
    position: relative;
    right: 15%;
    width: 400px;
    max-width: 100%;
    margin: 20px auto;
    /* padding: 20px; */
    /* background: rgb(125,35,218); */
    background: rgb(52, 122, 98);
    height: 100%;
    border-radius: 20px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    padding-bottom: 100px;
    
    
  }

  .song {
    display: flex;
    align-items: center;
    padding: 10px;
    background: rgb(54, 114, 94);
    border: 1px solid rgb(221, 234, 221);
    border-radius: 30px;
    margin-bottom: 10px;
    transition: transform 0.2s;
    
  }

  .song:hover {
    transform: scale(1.05);
  }

  .song img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 8px;
  }

  .song-details {
    flex-grow: 1;
    color: rgb(238, 224, 224);
  }

  .artist-name {
    overflow: auto;
    white-space: nowrap;
    color:rgb(243, 222, 222);
  }

  .play-icon {
    font-size: 24px;
    color: #efeae6;
    margin-right: 10px;
  }
nav{
    overflow: hidden;
    
}
  nav ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    height: 50px;
    background-image: url('lpbg2.jpg');
    color: white;
}

nav ul li{
    padding: 0 15;
    padding-right: 10px;
    color: white;
}
*{
    padding: 0;
    margin: 0;
}
h1{
    color: black;
}
.brand img{
    width: 60px;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.search-container{
  border-radius: 100px;
  position: absolute;
  right: 1%;
  margin-top: 1px;
  color: white;


}

input[type=text] {
  padding: 6px;
  margin-top: 1px; 
  width: 300px; 
  font-size: 17px;
  margin-left: 20px;
  margin-right: 20px;
  border-color: rgb(119, 151, 255);
  border-radius: 50px;
  border-style: solid;
  background: rgb(77,77,77);
  /* background: linear-gradient(180deg, rgba(77,77,77,1) 0%, rgba(127, 35, 218, 0.796) 0%, rgba(0,8,10,1) 55%, rgba(0,10,11,1) 100%); */
  color: white;
}
#toptt {
    margin-top: 20px;
    margin-left: 20px;
}

#yp {
    margin-top: 20px;
    margin-left: 20px;
}

input[type=text]::placeholder{
    color: rgba(245, 243, 247, 0.796);
    font-size: small;
}
a{
    color: white;
}
.full-image-container {
  /* background: rgb(17, 17, 17); */
  position: fixed;
  top: 7%; /* Adjust this value according to your layout */
  right: 0.5%; /* Adjust this value according to your layout */
  width: 400px;
  height: 400px;
  overflow: hidden;
  border: 1px solid rgba(127, 35, 218, 0.376);
  display: none; /* Initially hidden */
  border-radius: 20px;
  padding: 10px;
  /* z-index: 999; Ensure it's above other elements */
}

.full-image-container img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
