@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

* {
	box-sizing: border-box;
}

body {
	background-image: url('lpbg2.jpg');
	
	/* background: rgb(104,102,106);
background: radial-gradient(circle, rgba(119,151,255,1) 0%, rgba(0,0,0,1) 100%);
	background-repeat: no-repeat;
	 */
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	margin: -20px 0 50px;
}

h1 {
	font-weight: bold;
	margin: 0;
}
.error {
	color: red;
  }

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 12px;
}

a {
	color: #ffffff;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

button {
	border-radius: 20px;
	border: 1px solid rgb(44, 78, 47);
	background-color: rgb(44, 78, 47);
	color: #eeebeb;
	font-size: 10px;
	font-weight: bold;
	width: 300px;
	margin-top: 10px;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

form {
	background-color: rgba(255, 255, 255, 0.879);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	border-radius: 10px;
	border-color: white;
	text-align: center;
	border-radius: 30px;
	color: black;
}

input {
	background-color: rgb(247, 241, 241);
	color: black;
	border-radius: 15px;
	padding: 12px 15px;
	margin: 4px 0;
	width: 100%;
	
}

.container {
	background-color: #ffffffd3;
	border-radius: 30px;
	border-color: white;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
    height: 100px;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
}

.log-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.log-out-container {
	right: 0;
	width: 50%;
	z-index: 2;
}


.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
}


.overlay {
	background:rgb(44, 78, 47);
	/* background-color:rgb(75, 52, 98); */
	border-radius: 30px;
	/* background: -webkit-linear-gradient(to right, rgba(125,35,218,1), rgba(125,35,218,1));
	background: linear-gradient(to right,rgba(125,35,218,1), rgba(125,35,218,1)); */
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #101010;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
}


.overlay-right {
	right: 0;
}

.overlay-left {
	left:  0;
}


.social-container {
	margin: 50px 0;
}

.social-container a {
	border: 1px solid #070707;
	color: black;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}

::placeholder {
	color: black;
	opacity: 1; /* Firefox */
  }
#ht,#hdes {
	color: white;
}